body {
  background-color: var(--primary-bg-color);
}

.quiz-container {
  width: 100%;
  max-width: 75%;
  padding: 30px;
  margin:  auto;
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
}

.quiz-container .question-section {
  margin-bottom: 2em;
}

.quiz-container .question-content {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-text-color);
}
.quiz-container .question-text {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.quiz-container .option-section {
  margin-bottom: 2em;
}
.quiz-container .score-section {
  color:var(--primary-text-color);
}

.option-section .option-item {
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-text-color);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.option-section .option-item:hover {
  background-color: var(--hover-color);
}

.option-section .option-item.selected {
  background-color: var(--secondary-accent-color);
  color: white;
  border-color: #FFF5E1;
}


.quiz-next-btn {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 10px;
}
.quiz-next-btn:hover {
  background-color: var(--hover-color);
  color: var(--primary-text-color);
}

.quiz-list {
  flex: 1;
  width: 100%;
  height: fit-content;
  padding: 1em;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}


.quiz-list  h4 {text-align: start;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.quiz-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--primary-accent-color);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer   ;
}

.selected-quiz {
  /* background-color: var(--primary-accent-color); */
}
.inactive-quiz {
  background-color: var(--disable-color);
  border-color: var(--disable-color);
  cursor: default;
}


.quiz-item:hover {
  background-color: var(--third-bg-color);
}
.inactive-quiz:hover{
  background-color: var(--disable-color);
  cursor: default;
}

.quiz-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--primary-text-color);
}
