body {
  background-color: var(--primary-bg-color);
}

.quiz-container {
  width: 100%;
  max-width: 75%;
  padding: 30px;
  margin: auto;
  background-color: var(--secondary-bg-color);
  margin-top: 1em;
  border-radius: 15px;
}

.quiz-container .question-section {
  margin-bottom: 2em;
}

.quiz-container .question-content {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-text-color);
}
.quiz-container .question-text {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.quiz-container .option-section {
  margin-bottom: 2em;
}
.quiz-container .score-section {
  color:var(--primary-text-color);
}

.option-section .option-item {
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-text-color);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.option-section .option-item:hover {
  background-color: var(--hover-color);
}

.option-section .option-item.selected {
  background-color: var(--secondary-accent-color);
  color: white;
  border-color: #FFF5E1;
}


.quiz-next-btn {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--secondary-accent-color);
  border-radius: 10px;
}
.quiz-next-btn:hover {
  background-color: var(--hover-color);
  color: var(--primary-text-color);
}

