:root {
  /* Primary colors */
  --primary-bg-color: #f4f5f7;
  --secondary-bg-color: #ffffff;
  --third-bg-color: #ffc1c1;
  --disable-color: #cacaca;
  /* --primary-accent-color: #1e293b; */

  /* --primary-bg-color: #fff5e1; Soft peach background */
  --primary-accent-color: #ff6969; /* Light coral for highlights */
  --secondary-accent-color: #c80036; /* Vibrant red for buttons */
  --primary-text-color: #0c1844; /* Deep navy blue for text and panels */
  --secondary-text-color: #152663; /* Deep navy blue for text and panels */

  --icon-hover-color: #ffc1c1;
  --hover-color: #ffc1c1; /* more geneeric */
}

/*create a custom font*/
@font-face {
  font-family: "myFont";
  src: url("/OverloadBurn.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

html,
body {
  min-height: 100vh;
}

.dashboard-container {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  padding-top: 2em;
  padding-bottom: 4em;
  font-size: medium;
}

/* Bottom section (Divided into left and right) */
.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust the ratio as needed */
  height: 100%; /* Fill the remaining space */
  margin-left: 2em;
  margin-right: 2em;
  gap: 2em;
}

/* Left and right panels */
.left-panel {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

/*  ============================= Recent Activity ====================================   */
.recent-activity {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 1em;
  background-color: var(--secondary-bg-color);
  text-align: start;
  padding-left: 2em;
  padding-right: 2em;
}

.recent-activity a {
  color: var(--secondary-accent-color);
}

/* ========================== Favourite Container ========================================*/
.fav-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1em;
  text-align: start;
  background-color: var(--secondary-bg-color);
  padding-left: 2em;
  padding-right: 2em;
}

.fav-cards {
  display: flex;
  flex-direction: column;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  width: 30%;
  height: 200px;
  background-color: #fff; /* Background color */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
}

.dashboard-card:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1em; /* Padding inside card */
}

.card-title {
  font-size: 1.25em; /* Font size for title */
  margin-bottom: 0.5em; /* Space below title */
}

.card-rating {
  font-size: 1.2em; /* Font size for rating */
  color: #ffd700; /* Gold color for stars */
}

.star {
  margin-right: 0.2em; /* Space between stars */
}

/* ================== Recent Uploaded Component ======================================= */
.recent-container {
  background-color: var(--secondary-bg-color);
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  padding-top: 20px;
  gap: 1em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: start;
}

.recent-items {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.recent-item {
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
  transition: background-color 0.4s, transform 0.3s;
  border-bottom: 1px solid var(--icon-hover-color);
}

.recent-item .recent-start {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.recent-item .recent-end {
  display: flex;
  column-gap: 1em;
  align-items: center;
}

.recent-item .recent-end-item {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-accent-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.recent-item .recent-end-item:hover {
  background-color: var(--icon-hover-color);
}
.recent-item .recent-fav-item {
  width: 40px;
  height: 40px;
  padding: 5px;
  color: var(--third-bg-color);
}

.recent-item .recent-fav-item:hover {
  color: rgb(255, 62, 62);
  cursor: pointer;
}

.recent-item img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--secondary-accent-color);
}

/* Right Panel */
.right-panel {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

/* ======================= Challenges Component ============================ */
.challenges-container {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 20px;
  row-gap: 1em;
}
.challenges-container .challenge-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 1em;
}

.challenges-container .challenge-item .challenge-item-details {
  display: flex;
  column-gap: 1em;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  transition: background-color 0.4s, transform 0.3s;
}

.challenge-item-container {
  display: flex;
  justify-content: space-between;
  padding:  0.5em;
}

.challenges-container .challenge-item:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.challenges-container .challenge-item .challenge-item-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: start;
}

.challenges-container .challenge-item .challenge-item-info p {
  margin: 0;
}

.challenges-container .challenge-item .challenge-item-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--secondary-accent-color);
}

.challenges-container .challenge-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.challenge-item .challenge-item-started {
  background-color: var(--disable-color);
  color: var(--secondary-text-color);
  padding: 10px 30px;
  border-radius: 10px;
  height: 50px;
  align-self: center;
}

.challenge-item button {
  border: 1px solid var(--secondary-accent-color);
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}
.challenge-item button:hover {
  border: 1px solid var(--icon-hover-color);
  background-color: var(--secondary-accent-color);
  color: var(--secondary-bg-color);
}

/* Expand challenge-item */
.challenge-item .expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0;
}

.challenge-item .expandable-content li {
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.challenge-item .expandable-content .content-text {
  flex: 3;
}

.expandable-content.expanded {
  max-height: 150px;
  padding: 10px;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  border: 1px solid var(--disable-color);
  overflow-y: auto;
}

/* =================== Progress Tracker ===========================  */
.student-stats-container {
  background-color: var(--third-bg-color);
  padding: 1em;
  border-radius: 15px;
  text-align: center;
}

.stats-title {
  color: var(--primary-text-color);
  font-size: 1.5em;
  margin-bottom: 20px;
}

.stats-content {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.stat-item {
  background-color: var(--secondary-bg-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.stat-value {
  color: var(--primary-accent-color);
  font-size: 1.5em;
  font-weight: bold;
}

.stat-label {
  color: var(--secondary-text-color);
  font-size: 1em;
}

/* ===========================================Tough Points explain container================================ */
.Toughpoints {
  background-color: var(--secondary-bg-color);
  padding: 1em;
  border-radius: 15px;
  text-align: center;
}

.Toughpoints .toughpoints-body {
  display: flex;
  column-gap: 1em;
  justify-content: center;
}


.Toughpoints .toughpoints-body .first {
  padding-left: 10px;
}

.Toughpoints p {
  padding-top: 10px;
}

.Toughpoints .instruction {
  margin-top: 10px;
}


.coins {
  width: 60px;
  height: 60px;
}
/* ===========================================Game container================================ */

.game-preview {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1em;
  text-align: start;
  background-color: var(--secondary-bg-color);
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 10px;
}

.game-preview .game-heading {
  text-align: center;
  justify-items: center;
  width: 100%;
  padding-top: 10px;
}

.game-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-bottom: 10px;
}

.game-preview-gif {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.play-button {
  background-color: var(--secondary-accent-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.play-button:hover {
  background-color: var(--primary-accent-color);
}
.game {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
}

/* Make the layout responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-center {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-right {
    margin-top: 10px;
    align-self: flex-end;
  }
}
